Logs

# Ignore the config file
Flask/config.py
Website/db.php

# Ignore everything in ESP_interval except the src folder
ESP_interval/*
!ESP_interval/src/
!ESP_interval/src/**
ESP_interval/src/config.h

# Ignore everything in ESP_single_measurement except the src folder
ESP_single_measurement/*
!ESP_single_measurement/src/
!ESP_single_measurement/src/**
ESP_single_measurement/src/config.h